.main {
    width: 100%;
    max-width: 90%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    min-height: 80dvh;
}

.main .aside {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    border-radius: 10px;
    width: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px;
    background: #404E7C;
}

.main .aside .collection{
    margin: 10px 0px;
}

.main .aside .like {
    margin: 20px 0px;
}

.main .aside .history {
    margin-top: auto;
    margin-bottom: 10px;
}

.main .principal {
    display: inline-block;
    justify-content: center;
    align-content: flex-start;
    margin-left: 1%;
    width: 100%;
    border-radius: 10px;
    background: #1C2321;
}

.main .principal .title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #A9B4C2;
    background: #1C2321;
    border-radius: 10px;
    margin: 20px 0px;
}

.main .principal .musics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: #1C2321;
}
.main .principal .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 18% ;
    margin: 15px 20px;
    padding: 0px 10px;
    background: #1C2321;
}

.main .principal .card img {
    width: 100%;
    border: 2px solid #f7f8fd;
    border-radius: 10px;
    
}

.main .principal .card .names {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: 10px;
    color: #A9B4C2;
    background: #1C2321;
}